*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    height: 700px;
    width: 100%;
    /* background-color: #000000; */
    background-image: url(netflex\ backgroud.jpeg);
}

.netflix_header{
    height: 92px;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.netflix_header_second_div{
    height: 48px;
    width: 80%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.netflix_logo{
    height: 40px;
    width: 25%;
    /* border: 1px solid white; */
    /* background-color: #000000; */
    background-size: contain;
    background-repeat: no-repeat;
    
}
.image_logo{
    height: 40px;
    width: 45%;
    transform: scale(4, 4);
  
}

.netflix_signin_button{
    height: 40px;
    width: 25%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.netflex_signin{
    height: 32px;
    width: 75px;
    border-radius: 5px;
    background-color: #f02222;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

/* somethin_background */
.somethin_background{
    height: 700px;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.background_before_text{
    height: 500px;
    width: 80%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.this_is_main{
    height: 238px;
    width: 80%;
    /* border: 1px solid white; */
    text-align: center;
    line-height: 50px;
}
/* text */
.text_h1{
    color: #ffffff;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 600;
   
}
.text_p{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.4rem;
}
.text_h3{
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 400;
}

.input_button{
    height: 80px;
    width: 60%;
    /* border: 1px solid white; */
    position: relative;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email_section{
    height: 56px;
    width: 50%;
    padding: 24px 16px 18px;
    background-color: #000000;
    opacity: 0.3;
    color: #ffffff;
    font-size: large;
    margin-right: 7px;
    border: 1px solid white;
    border-radius: 5px;
}

.button_section{
    height: 56px;
    width: 30%;
    background-color: #f02222;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 500;
  
}
hr{
    height: 8px;
    width: 100%;
    background-color: #232323;
    /* position: relative;
    top: 8px; */
    border: none;
    
}

/* hero_section */
.hero_section_start{
    height: 490px;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero_info{
    height: 359px;
    width: 80%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero_text_info{
    height: 200px;
    width: 40%;
    /* border: 1px solid white; */
    /* text-align: center; */
}

.hero_image{
    height: 355px;
    width: 40%;

}

.hero_text_h2{
    font-size: 3rem;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero_text_p{
    font-size: 1.4rem;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 30px;
}

.image_in_image{
    height: 103px;
    width: 20%;
    /* border: 1px solid white; */
    position: absolute;
    top: 1600px;
    right:880px;
    /* margin-top: 40px;
    margin-right: 40px; */
    display: block;
    background-size: contain;

}

/* netflix_hero_third */
.netflix_hero_third{
    height: 409px;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
}

.netflix_hero_third_text{
    height: 256px;
    width: 25%;
    /* border: 1px solid white; */
    position: relative;
    top: 50px;
    left: 350px;
}

/* footer_start */
#first_foot_box_text{
font-size: 2rem;
font-family: Arial, Helvetica, sans-serif;
background-color: #2d2d2d;
color:#ffffff;
width: 70%;
position: relative;
left: 13.2%;
display: none;
top: 5px;
bottom: 5px;

}

#first_foot_box_text2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d2d2d;
    color:#ffffff;
    width: 70%;
    position: relative;
    left: 13.2%;
    display: none;
    top: 5px;
    bottom: 5px;
    
    }
 #first_foot_box_text3{
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #2d2d2d;
        color:#ffffff;
        width: 70%;
        position: relative;
        left: 13.2%;
        display: none;
        top: 5px;
        bottom: 5px;
        
        }

        #first_foot_box_text4{
            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #2d2d2d;
            color:#ffffff;
            width: 70%;
            position: relative;
            left: 13.2%;
            display: none;
            top: 5px;
            bottom: 5px;
            
            }

            #first_foot_box_text5{
                font-size: 2rem;
                font-family: Arial, Helvetica, sans-serif;
                background-color: #2d2d2d;
                color:#ffffff;
                width: 70%;
                position: relative;
                left: 13.2%;
                display: none;
                top: 5px;
                bottom: 5px;
                
                }

                #first_foot_box_text6{
                    font-size: 2rem;
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: #2d2d2d;
                    color:#ffffff;
                    width: 70%;
                    position: relative;
                    left: 13.2%;
                    display: none;
                    top: 5px;
                    bottom: 5px;
                    
                    }
    

.first_footer{
    height: 924px;
    width: 100%;
    background-color: #000000;
    text-align: center;
   
}
.mar{
   position: relative;
   top: 80px;
}

.just_margin{
    margin-top: 100px;
}

#first_footer_box1{
    height: 84px;
    width: 70%;
    /* border: 1px solid white; */
    position: relative;
    left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    margin-top: 10px;
    transition: all 0.3s 0s linear;
    cursor: pointer;
}

.first_footer_box2{
    height: 84px;
    width: 70%;
    /* border: 1px solid white; */
    position: relative;
    left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    margin-top: 10px;
    transition: all 0.3s 0s linear;
    cursor: pointer;
}

.first_footer_box3{
    height: 84px;
    width: 70%;
    /* border: 1px solid white; */
    position: relative;
    left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    margin-top: 10px;
    transition: all 0.3s 0s linear;
    cursor: pointer;
}

.first_footer_box4{
    height: 84px;
    width: 70%;
    /* border: 1px solid white; */
    position: relative;
    left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    margin-top: 10px;
    transition: all 0.3s 0s linear;
    cursor: pointer;
}

.first_footer_box5{
    height: 84px;
    width: 70%;
    /* border: 1px solid white; */
    position: relative;
    left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    margin-top: 10px;
    transition: all 0.3s 0s linear;
    cursor: pointer;
}

.first_footer_box6{
    height: 84px;
    width: 70%;
    /* border: 1px solid white; */
    position: relative;
    left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    margin-top: 10px;
    transition: all 0.3s 0s linear;
    cursor: pointer;
}



#first_footer_box1:hover{
    background-color: #3c3c3c;
}

.first_footer_box2:hover{
    background-color: #3c3c3c;
}
.first_footer_box3:hover{
    background-color: #3c3c3c;
}
.first_footer_box4:hover{
    background-color: #3c3c3c;
}
.first_footer_box5:hover{
    background-color: #3c3c3c;
}
.first_footer_box6:hover{
    background-color: #3c3c3c;
}

.first_footer_box_text1{
    height: 32px;
    width: 40%;
    /* border: 1px solid white; */
    color: #ffffff;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    
}

.first_footer_box_text2{
    height: 32px;
    width: 40%;
    /* border: 1px solid white; */
    color: #ffffff;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    
}

.first_footer_box_text3{
    height: 32px;
    width: 40%;
    /* border: 1px solid white; */
    color: #ffffff;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    
}

.first_footer_box_text4{
    height: 32px;
    width: 40%;
    /* border: 1px solid white; */
    color: #ffffff;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    
}

.first_footer_box_text5{
    height: 32px;
    width: 40%;
    /* border: 1px solid white; */
    color: #ffffff;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    
}

.first_footer_box_text6{
    height: 32px;
    width: 40%;
    /* border: 1px solid white; */
    color: #ffffff;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    
}
.text_span{
    color: #ffffff;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 20px;
    display: flex;
    
}

.space{
    margin-top: 50px;
    
}

.spacing{
    margin-top: 5px;
    margin-left: 40px;
}

/*  last_footer*/

.last_footer_second_div{
    height: 267px;
    width: 100%;
    /* border: 1px solid white; */
    
    
}
.last_footer_link{
    font-size: 1rem;
    color: #ffffffb3;
    margin: 0px 150px;
    font-family: sans-serif;
    font-weight: 500;
}
.last_footer_list{
    height: 137px;
    width: 80%;
    /* border: 1px solid white; */
    margin: 0px 150px;
    display: flex;
}

.last_footer_main_list{
    height: 137px;
    width: 25%;
    /* border: 1px solid white; */
}

.unorderlist{
    list-style-type: none;
}
.li_link{
    color: #ffffffb3;
    font-size: 0.85rem;
    font-family: sans-serif;
    line-height: 30px;
}
.language_div{
    height: 40px;
    width: 80%;
    /* border: 1px solid white; */
    margin: 0px 150px;
}
.language{
    height: 32px;
    width: 10%;
    border: 1px solid rgba(255, 255, 255, 0.4) ;
    border-radius: 5px;
   
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#language_english{
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    border: none;
}

.last_paragraph{
    height: 18.4px;
    width: 10%;
    color: #ffffffb3;
    font-size: 0.85rem;
    /* font-family: sans-serif; */
    line-height: 80px;

}

#change {
    position: absolute;
    top: 100%;
}

#sign_1{
    width: 450px;
    height: 741px;
    padding: 48px 68px;
    background-color: #000000B3;
    position: absolute;
    left: 38%;    
}

#sign_2{
    min-height: 5%;
    min-width: 100%;
}

#h1{
    font-size: 2rem;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#email{
height: 3rem;
width: 100%;
padding: 26px 8px 26px 16px;
margin: 10px 0px;
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
background-color: #161616B3;
border: 0.1px solid #ffffff99;
}

.password{
    height: 2rem;
    width: 100%;
    padding: 26px 8px 26px 16px ;
    margin: 10px 0px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161616B3;
    border: 0.1px solid #ffffff98;
    
}

#login{
    /* height: 0.5%; */
    width: 100%;
    padding: 10px 10px;
    /* margin: 10px 0px; */
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff0a0a;
    border:none;
    border-radius: 5px;
    color: #ffffff;
    
}